.me-auto{
    margin-left: 58vw;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color:#ffdb60 !important;
    /* background: #ffdb60 !important; */
}
.container{
    background: #ffdb60 !important;
    max-width: inherit !important;
}
/* .Nav-con{
    background:#ffdb60;
} */
.home-tab{
    width: 12vw !important;
    color:#ffdb60 !important;
    font-size: 23px;
    display: flex !important;
}
.service-tab{
    width: 12vw !important;
    color:#ffdb60 !important;
    font-size: 23px;
    display: flex !important;
}
.project-tab{
    width: 8vw !important;
    /* color:#ffdb60 !important; */
}
a#basic-nav-dropdown {
    color: #ffdb60;
    font-size: 23px;
}
.icon{
    width: 7vw;
    height: 11vh;
    margin-left: 4vw;
    border-radius: 142px;
}
div#basic-navbar-nav {
    background: #2c3238;
    width: 87.1vw;
    position: absolute;
    margin-left: 11vw;
}

@media only screen and (min-width:401px) and (max-width:500px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .icon {
        width: 18vw;
        height: 8vh;
        margin-left: 0px;
    }
    .me-auto {
        margin-left: 5vw !important;
    }
    div#basic-navbar-nav {
        background: #2c3238;
        width: 52.6vw;
        position: absolute;
        margin-top: 22vh;
        margin-left: 45vw;
    }
    .nav-link {
        padding: 0.1rem 1rem !important;
    }
    .bg-light {
        
        width: 100% !important;
    }
}
@media only screen and (min-width:321px) and (max-width:400px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .icon {
        width: 18vw;
        height: 8vh;
        margin-left: 0px;
    }
    .me-auto {
        margin-left: 0vw !important;
    }
    div#basic-navbar-nav {
        background: #2c3238;
        width: 51.6vw;
        position: absolute;
        margin-top: 22vh;
        margin-left: 45vw;
    }
    .nav-link {
        padding: 0.1rem 1rem !important;
    }
    .bg-light {
        
        width: 100% !important;
    }
}
@media only screen and (max-width:320px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .icon {
        width: 18vw;
        height: 8vh;
        margin-left: 0px;
    }
    .me-auto {
        margin-left: 0vw !important;
    }
    div#basic-navbar-nav {
        background: #2c3238;
        width: 50.9vw;
        position: absolute;
        margin-top: 22vh;
        margin-left: 45vw;
    }
    .nav-link {
        padding: 0.1rem 1rem !important;
    }
    .bg-light {
        
        width: 100% !important;
    }
}